# KnightOS Halibut Configuration
# Created on Tuesday, November 06, 2012

name=KnightOS
working-directory=build/
build=build.exe --verbose --configuration TI84pSE
debug=Wabbitemu.exe ../bin/TI84pSE/KnightOS-en_us.rom
error-regex=^(?<file>[A-Za-z0-9_ ./\\:-]+):(?<line>[0-9]+): error SE113: (?<error>.*)$
